body {
	min-width: 500px;
	height: 1000px;
	background-repeat: no-repeat;
	background-image: url("image/fon.png");
	background-attachment: fixed;
	background-size: 100% 100%;
}

h2 {
	display: inline-block;
}

fieldset {
	float: right;
	width: 30%;
	border: 1px solid gray;
}

legend {
	border: 1px solid gray;
	padding: 2px;
	width: 90%;
	text-align: center;
}

header {
	position: fixed;
	top: 0px;
	left: 0px;
	padding-bottom: 5px;
	width: 100%;
	height: 70px;
	background-color: white;
	border-bottom: 2px solid black;
	z-index: 10;
}

.head {
	display: flex;
	width: 100%;
	height: 100%;
}

.logo {
	display: flex;
	justify-content: flex-start;
	height: 70px;
	flex-basis: 80%;
}

.logo h1 {
	color: red;
	display: inline;
	align-self: center;
}

.logo img {
	width: 80px;
}

.pay-cart {
	margin-right: 70px;
	margin-top: 10px;
	width: 50px;
	flex-grow: 0;
	flex-shrink: 0;
	height: 50px;
}

.pay-cart button, .pay-cart button img {
	width: 100%;
	height: 100%;
}

.pay-cart .count_pay {
	position: absolute;
	margin-left: 30px;
	margin-top: -10px;
	border: 1px solid black;
	background-color: green;
	border-radius: 10px;
	width: 20px;
	height: 20px;
}

nav {
	position: absolute;
	top: 180px;
	left: 0px;
	z-index: 8;
	width: 100%;
	border-bottom: 2px solid black;
	min-width: 700px;
}

nav ul .point_menu {
	position: relative;
	float: left;
	display: inline;
	margin-right: 50px;
	font-size: 25px;
	cursor: pointer;
}

nav ul li .podmenu {
	position: absolute;
	display: none;
}

nav ul .point_menu:hover>.podmenu {
	display: block;
	margin-left: -50px;
}

nav ul .point_menu:hover>img {
	transform: rotate(180deg);
}

nav ul .point_menu:hover>.podmenu li {
	list-style-type: none;
	border: 1px solid black;
	background-color: transparent;
}

h1 {
	color: red;
	display: inline;
}

.reg {
	float: right;
	margin-top: 20px;
	margin-right: 40px;
}

.block {
	margin-top: 15px;
}

.letter {
	font-size: 150%;
	font-family: Verdana, serif;
}

.lablef {
	float: right;
	clear: both;
}

.radiof {
	width: 100%;
	clear: both;
}

input[type="submit"] {
	padding-left: 10px;
	padding-right: 10px;
	width: 45%;
}

.buttons {
	position: absolute;
	width: 100%;
	margin-top: 5%;
}

.buttons button {
	opacity: 0.5;
}

.layer {
	background-color: black;
	z-index: 15;
	opacity: 0.8;
	display: none;
	position: fixed;
	left: 0px;
	top: 0px;
	width: 100%;
	height: 100%;
}

.articles {
	display: flex;
	margin-top: 100px;
	flex-wrap: wrap;
	align-items: center;
	border: 1px solid black;
	justify-content: center;
}

.marq {
	flex-basis: 100%;
	width: 100%;
}

.news_block {
	display: flex;
	flex-wrap: nowrap;
	justify-content: space-around;
	flex-basis: 49%;
	width: 49%;
	margin-bottom: 10px;
	height: 44%;
	min-height: 175px;
	min-width: 450px;
}

.news_block img {
	display: inline;
	flex-basis: 35%;
	width: 35%;
}

.stat {
	flex-basis: 60%;
	width: 60%;
	text-align: justify;
}

.popup {
	position: fixed;
	left: 25%;
	top: 25%;
	width: 50%;
	height: 40%;
	display: none;
	border: 1px solid black;
	background-color: white;
	text-align: center;
	border-radius: 10px;
	z-index: 20;
	min-height: 100px;
	overflow-y: auto;
	overflow-x: hidden;
	min-width: 350px;
}

.popup .close {
	float: right;
	font-size: 28px;
	margin-top: -5px;
	transform: rotate(45deg);
	cursor: pointer;
}

.popup img {
	float: left;
	display: inline;
}

.cart_product {
	float: left;
	margin-left: 5px;
	text-align: left;
	width: 70%;
	height: 100%;
}

.create_div {
	border: 1px solid black;
	width: 100%;
	height: 120px;
	background-color: white;
}

.left, .right {
	position: relative;
	width: 30px;
	height: 50px;
}

.articles .button_left {
	left: 0px;
}

.articles .button_right {
	float: right;
	right: 15px;
}

footer {
	position: relative;
	background-color: black;
	top: 100%;
	width: auto;
	height: 5%;
	text-align: center;
}

.foot {
	text-align: right;
}

footer h3 {
	color: white;
	display: inline;
}

.wrapper-video {
	max-width: 100%;
	height: 400px;
	margin-top: 400px;
	background-color: rgba(0, 0, 0, 0.9);
}

.wrapper-video video {
	width: 100%;
	height: 100%;
}

.product_foot {
	display: flex;
	flex-basis: 100%;
	background-color: black;
}

.product_foot h2 {
	flex-basis: 90%;
	text-align: center;
}

.product_foot button {
	flex-basis: 10%;
	min-width: 100px;
	align-self: center;
}

.pay {
	width: 30%;
	margin-top: -8px;
	height: 21%;
	float: right;
	background-color: green;
}

.count {
	display: flex;
	flex-wrap: wrap;
	justify-content: space-around;
	background-color: rgba(0, 120, 201, 0.7);
	margin: 100px 2%;
}

.product {
	flex-basis: 25%;
	height: 500px;
	border: 1px solid black;
	background-color: white;
	min-width: 250px;
}

.b1 {
	float: right;
	height: 50px;
	width: 10%;
}

.loadbar {
	position: fixed;
	z-index: 50;
	display: none;
	width: 30%;
	height: 20px;
	top: 30%;
	left: 35%;
	background-color: white;
	border-radius: 40px;
}

.loadbar::-webkit-progress-value {
	border-radius: 40px;
	background: -linear-gradient(top, #cdeb8e 0%, #a5c956 100%);
}

.loadbar::-webkit-progress-bar {
	border-radius: 40px;
	background-color: white;
}

.loadbar::-moz-progress-bar {
	border-radius: 40px;
	background: -moz-linear-gradient(top, #cdeb8e 0%, #a5c956 100%);
}

@media(max-width:850px) {
	.count {
		align-self: center;
		flex-direction: column;
		flex-grow: 0;
		flex-shrink: 0;
		justify-content: center;
	}
	.product {
		margin-top: 20px;
		margin-bottom: 20px;
		align-self: center;
		width: 300px;
	}
	.pay {
		align-self: stretch;
	}
	@-moz-document url-prefix() {
		.pay {
			height: 120px;
		}
	}
}